go 1.21

use (
	.
	./log/logging/logrus
	./log/logging/slog
	./log/logging/zap
	./log/logging/zerolog
	./telemetry
	./telemetry/instrumentation/otelzerolog
	./telemetry/instrumentation/otelzap
	./telemetry/instrumentation/otellogrus
	./telemetry/instrumentation/otelslog

)

replace github.com/apache/thrift => github.com/apache/thrift v0.13.0
